body{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
    font-weight: 900;
}
img{
    width: 25%;
    height: 50vh;
    margin: calc(25%/6);
}

nav{
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 25%;
    margin-left: calc(25%/6);
    padding: 1.2em 0;
}

/*25 + 25 + 25 = 75 100-75=25/