*{
    font-family: "Pacifico", cursive;
    font-size: 24px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161a30;
}
.btn {
  background: none;
  color: #e7bcde;
  border: 2px solid;
  padding: 1em 3em;
  font-size: 1em;
  transition: all 0.25s;
}
.btn:hover {
  border-color: #96efff;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #96efff;
  transform: translateY(-0.45em);
  cursor: pointer;
}
